<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-compte-heading" jhiTranslate="dmJHipsterApp.compte.home.createOrEditLabel">Create or edit a Compte</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dmJHipsterApp.compte.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dmJHipsterApp.compte.surname" for="field_surname">Surname</label>
                    <input type="text" class="form-control" name="surname" id="field_surname"
                           formControlName="surname"/>
                    <div *ngIf="editForm.get('surname')!.invalid && (editForm.get('surname')!.dirty || editForm.get('surname')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('surname')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dmJHipsterApp.compte.age" for="field_age">Age</label>
                    <input type="number" class="form-control" name="age" id="field_age"
                           formControlName="age"/>
                    <div *ngIf="editForm.get('age')!.invalid && (editForm.get('age')!.dirty || editForm.get('age')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('age')?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('age')?.errors?.max" jhiTranslate="entity.validation.max" [translateValues]="{ max: 150 }">
                            This field cannot be more than 150.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('age')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dmJHipsterApp.compte.accountid" for="field_accountid">Accountid</label>
                    <input type="text" class="form-control" name="accountid" id="field_accountid"
                           formControlName="accountid"/>
                    <div *ngIf="editForm.get('accountid')!.invalid && (editForm.get('accountid')!.dirty || editForm.get('accountid')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('accountid')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('accountid')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 16 }">
                        This field cannot be longer than 16 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dmJHipsterApp.compte.adress" for="field_adress">Adress</label>
                    <input type="text" class="form-control" name="adress" id="field_adress"
                           formControlName="adress"/>
                    <div *ngIf="editForm.get('adress')!.invalid && (editForm.get('adress')!.dirty || editForm.get('adress')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('adress')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dmJHipsterApp.compte.role" for="field_role">Role</label>
                    <input type="text" class="form-control" name="role" id="field_role"
                           formControlName="role"/>
                    <div *ngIf="editForm.get('role')!.invalid && (editForm.get('role')!.dirty || editForm.get('role')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('role')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
