<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="panier">
            <h2><span jhiTranslate="dmJHipsterApp.panier.detail.title">Panier</span> {{ panier.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="dmJHipsterApp.panier.nbelements">Nbelements</span></dt>
                <dd>
                    <span>{{ panier.nbelements }}</span>
                </dd>
                <dt><span jhiTranslate="dmJHipsterApp.panier.listelements">Listelements</span></dt>
                <dd>
                    <span>{{ panier.listelements }}</span>
                </dd>
                <dt><span jhiTranslate="dmJHipsterApp.panier.price">Price</span></dt>
                <dd>
                    <span>{{ panier.price }}</span>
                </dd>
                <dt><span jhiTranslate="dmJHipsterApp.panier.restaurant">Restaurant</span></dt>
                <dd>
                    <span *ngFor="let restaurant of panier.restaurants; let last = last">
                        <a [routerLink]="['/restaurant', restaurant?.id, 'view']">{{ restaurant.id }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
                <dt><span jhiTranslate="dmJHipsterApp.panier.produit">Produit</span></dt>
                <dd>
                    <span *ngFor="let produit of panier.produits; let last = last">
                        <a [routerLink]="['/produit', produit?.id, 'view']">{{ produit.id }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
                <dt><span jhiTranslate="dmJHipsterApp.panier.compte">Compte</span></dt>
                <dd>
                    <div *ngIf="panier.compte">
                        <a [routerLink]="['/compte', panier.compte?.id, 'view']">{{ panier.compte?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/panier', panier.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
